{% extends 'base.html' %}
{% load static %}
{% block content %}

<article class="media">
    <div class="media-left">
        <figure class="image is-128x128">
            {% if profile.picture %}
            <img class="is-rounded" src="{{profile.picture.url}}">
            {% else %}
            <img class="is-rounded" src="{%static 'img/profile.jpg' %}">
            {% endif %}
        </figure>
    </div>
    <div class="media-content">
        <div class="content">
            <h1 class="title">{% if profile.first_name%}{{ profile.first_name}} {{ profile.last_name}}{% endif %}</h1>
            <h2 class="subtitle">@{{ profile.user }}</h2>
            {% if user.is_authenticated and user != profile.user %}
            <div class="media-right">
                {% if follow_status == True%}
                <a href="{% url 'follow' profile.user 0%}" class="button is-info is-rounded is-danger">UnFollow</a>
                {% else %}
                <a href="{% url 'follow' profile.user 1%}" class="button is-info is-rounded">Follow</a>
                {% endif %}
            </div>
            {% endif %}
        </div>

            <div class="media-left">
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Posts</p>
                            <p class="title">{{ posts_count}}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Following</p>
                            <p class="title">{{ following_count}}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Followers</p>
                            <p class="title">{{ followers_count}}</p>
                        </div>
                    </div>
                </nav>
                <p class="subtitle">{% if profile.profile_info %}{{ profile.profile_info }}{% endif %}</p>

                {% if user.is_authenticated and user == profile.user%}
                <a href="{% url 'edit-profile' %}" class="button is-rounded">Edit Profile</a>
                {% endif %}
            </div>
    </div>
</article>

<section clas="section">

    <div class="container">
        <div class="tabs is-centered">
            <ul>
                <li class="{% if url_name == 'profile' %} is-active{% endif %}">
                    <a href="{% url 'profile' profile.user %}">
                        <span class="material-icons md-24">grid_on</span>Posts</a></li>
                <li class="{% if url_name == 'profilefavorites' %} is-active{% endif %}">
                    <a href="{% url 'profilefavorites' profile.user %}">
                        <span class="material-icons md-24">bookmarks</span>Saved</a></li>
            </ul>
        </div>


        <div class="columns is-gapless is-multiline is-mobile is-centered">

            {% for post in posts%}

            <div class="column is-one-quarter">
                <div class="box">
                    {% if post.content.first.file.name|slice:"-3" == 'jpg' or 'png' %}
                <figure class="image is-4by3">
                   <a href="{{ post.get_absolute_url }}">
                       <img src="{{ post.content.first.file.url }}" alt="Placeholder image"></a>
                </figure>
                {% else %}
                    <a href="{{ post.get_absolute_url }}">
                        <video width='640' controls="controls" preload="metadata">
                            <source src="{{ post.content.first.file.url }}#t=0.5"type="video/mp4">
                        </video>
                    </a>
                {% endif %}

                </div>
            </div>
            {% empty %}
            <h3 class="title is -3"> You do not have any post!</h3>


            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}