{% extends 'base.html' %}
{% load static %}

{% block banner %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
            <p class="title">
                #{{ tag.title }}
            </p>
        </div>
        </div>
    </section>
        {% endblock %}

        {% block content %}

            <div class="columns is-gapless is-multiline is-mobile is-centered">

                {% for post in posts%}
                <div class="column is-one-quarter">
                    <div class="box">
                        <figure class="image is-256x256">
                            {% if post.content.first.file.name|slice:"-3" == 'jpg' or 'png' %}
                <figure class="image is-4by3">
                   <a href="{{ post_item.get_absolute_url }}">
                       <img src="{{ post.content.first.file.url }}" alt="Placeholder image"></a>
                </figure>
                {% else %}
                    <a href="{{ post.get_absolute_url }}">
                        <video width='1080' controls="controls" preload="metadata">
                            <source src="{{ post.content.first.file.url }}#t=0.5"type="video/mp4">
                        </video>
                    </a>
                {% endif %}
                        </figure>
                    </div>
                </div>
                {% endfor %}


            </div>

{% endblock %}

